# Kafka
KAFKA_BOOTSTRAP=master:9092
KAFKA_TOPIC=crypto_ticks

# InfluxDB v2
INFLUX_URL=http://localhost:8086
INFLUX_ORG=bigdata
INFLUX_BUCKET=crypto
INFLUX_TOKEN=TOKEN

# General
SYMBOLS=btc,eth
POLL_SECONDS=5
